/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

section {
    text-align: center;
    margin-top: 20px;
}

body {
    text-align: center;
    margin: 10px 10px ;
}

h1 {
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace
}

h2 {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin: 30px;
}

.square1 {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    height: 200px;
    width: 200px;
    text-align: center;
    background-color:rgb(214, 250, 141);
    padding: 10px;
    border-color: #ADD8E6;
    border-width: 20px;
    border-style: solid;
    margin: 30px;
    outline: 5px solid black;
    box-shadow: 0 0 0 20px rgb(255, 109, 133);
}

.textbox {
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: grey;
} 
.text {
    font-size: 5px;
    height: 20px;
    width: 20px;
}

.icon {

    height: 20px;
    width: 20px;
    font-size: 20px;
    border-radius: 50%;
}


#firstsquare {
    text-align: center;
}
div {
    text-align: left;
}
.container {
    display: inline-block;
    align-items: baseline;
    align-items: baseline;
    height: auto;
    width: 600px;
    border-color: black; 
    border-style: solid;
    border-width: 1px; 
    margin: 0 auto;
    font-size: 0;
}

hr {
    width: 400px;
    border-style: dotted;
    color: lightgray;
}

span {
    display: inline-block;
    width: 180px;
    height: 100px;
    background-color: lightgray;
    margin: 10px;
}

span.box1 {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

span.box2 {
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

